
{% extends 'index.html' %}

{% load static %}

{% block title %}
<title>Online Bazar | Forget Password Page</title>
{%  endblock %}
    
{% block body %}
<div class="container-fluid ">
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"></div>
        <img src="{% static 'picture/forgot.jpg' %}" class="w-25">
    </div>

    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"></div>
        <h3 style="font-family: cursive;"class="p-3 mb-2 bg-white text-black">Forget Pass Section</h3>
        {% for i in messages %}
        <div class="alert alert-danger" role="alert">
          {{i}}
        </div>
    
        {% endfor %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3" class="w-25">
              <label style="font-family: cursive;"for="email" class="form-label">Email ID</label>
              <input style="font-family: cursive;"type="text" class="form-control" name="email" placeholder="Enter User Email">
              
            </div>
            <div class="mb-3" class="w-25">
              <label style="font-family: cursive;"for="mobile" class="form-label">Mobile No</label>
              <input style="font-family: cursive;"type="mobile" class="form-control" name="mobile" placeholder="Enter User Mobile No">
            </div>
            
            <div class="mb-3" class="w-25">
                <label style="font-family: cursive;"for="password1" class="form-label">Password</label>
                <input style="font-family: cursive;"type="password1" class="form-control" name="password1" placeholder="Enter New Password">
            </div>
              

            <div class="mb-3" class="w-25">
                <label style="font-family: cursive;"for="password2" class="form-label">Re-Password</label>
                <input style="font-family: cursive;"type="password2" class="form-control" name="password2" placeholder="Enter New Re-Password">
            </div>
            <button style="font-family: cursive;"type="submit" class="btn btn-primary">Submit</button>
            <br>
            {% comment %} <a style="font-family: cursive;"href="" class="text-decoration-none">Forget Password</a> {% endcomment %}
            <br>
            {% comment %} <a style="font-family: cursive;"href="/signup/" class="text-decoration-none">New User? Create Account</a> {% endcomment %}
          </form>
    </div>
</div>
{% endblock %}
